.PhoneInput ~ .control-label {
  left: 30px !important;
}

.PhoneInput:focus-within ~ .control-label {
  font-size: 0.8rem !important;
  color: #ff9d29 !important;
  top: -1rem !important;
  left: 30px !important;
}

.PhoneInput:focus-within ~ .bar {
  border-bottom: 1px solid #ff9d29 !important;
}

.label-focus {
  font-size: 0.8rem !important;
  color: #ff9d29 !important;
  top: -1rem !important;
  left: 30px !important;
}
.bar-focus {
  border-bottom: 1px solid #ff9d29 !important;
}
.PhoneInputCountryIcon--border {
  background-color: #fff;
  box-shadow: none;
}
.PhoneInputCountryIconImg {margin-top: -7px;}
.PhoneInputInternationalIconPhone {margin-left: -2px;}
.c-modal-600 {
  width: 600px;
  margin: 0 auto;
  margin-top: 15%;
}
.c-g-btn {
  margin-top: 0 !important;
}
.c-g-btn > img{
  position: absolute;
  left: 12px;
  width: 24px;
  height: 24px;
}
.c-f-btn {
  margin-top: 0 !important;
}
.c-f-btn > img{
  position: absolute;
  left: 12px;
  width: 11px;
  height: 22px;
}
.c-modal-btn {
  width: auto !important;
}
.identity-right {
  cursor: pointer;
}
.identity-none {
  cursor: pointer;
  display: none;
}
.c-identity-btn {
  background: #ff9d29 !important;
  color: #fff !important;
  width: 190px !important;
  height: 58px !important;
  box-shadow: 0 0px 46px #dedede !important;
  border-radius: 50px !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  letter-spacing: .5px !important;
  transition: .3s;
  text-align: center !important;
  margin: 70px auto 0 auto !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif !important;
}
.c-identity-btn svg {
  display: none;
}
.c-identity-btn > div {
 padding: 0 !important;
}
.c-identity-btn span {
  margin: 0 auto !important;
 }