/* .mfp-login-close {
    color: #fff !important;
    font-size: 32px !important;
    background: #999 !important;
    border-radius: 50px !important;
    position: absolute !important;
    top: 14px !important;
    right: 14px !important;
    z-index: 9999 !important;
    font-weight: 300 !important;
} */