.chip-container {
  display: flex;
  flex-wrap: wrap;
}
.chip-block {
  display: flex;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  margin: 8px 8px 0 0;
  height: 32px;
  align-items: center;
}
.chip-text {
  color: #333;
  padding: 0 8px;
}
.chip-icon {
  margin: 0 8px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #dee2e6;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0,0,0,0.54);
  font-weight: 600;
  border: 1px solid rgba(0,0,0,0.54);
}
.chip-icon:hover {
  background-color: rgba(0,0,0,0.23);
}
.media-teaser-btn {
	padding: 16px 0 16px 0;
	display: flex;
}
.media-teaser-btn > input {
	width: 100%;
}
.media-teaser-btn > button {
	margin-left: 16px;
}
.mglt16 {
  margin-left: 16px !important;
}
.tab-nav a {
  cursor: pointer;
}
.tab-nav a:hover {
  border-bottom: 3px solid #ff9d29;
  margin-top: 8px;
  padding-bottom: 1px;
}
.tab-nav__item.active {
  border-bottom: 3px solid #ff9d29;
}
.custom-tab {
	justify-content: flex-start;
}
.custom-tab > li:first-child {
	margin-right: 40px;
}
.faculty-detail .save-btn {
  margin-right: 18px;
}
.ccp {
  cursor: pointer;
}
.no-data-block {
  display: flex; 
  justify-content: center; 
  align-items: center;
  padding: 24px 0;
}
.no-data-block > div {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}
.no-data-block > div i {
  font-size: 120px;
  color: #f79d2b;
  margin-bottom: 8px;
}
.loading-block {
  display: flex; 
  justify-content: center; 
  align-items: center;
  padding: 24px 0;
}
.table-search-export {
  float: right;
  position: relative;
}
.table-search-export input {
  float: left;
  right: auto;
  width: auto !important;
}
.table-search-export span {
  margin-left: 20px !important;
  right: 20px !important;
  position: absolute !important;
}
.c-user-active {
  background-color: rgba(254, 157, 42, 0.54);
  border-radius: 50%;
  padding: 8px;
}
.c-user-active > img {
  filter: invert(65%) sepia(60%) saturate(812%) hue-rotate(338deg) brightness(101%) contrast(99%);
  width: 20px;
  height: 20px;
}
.dash-sidebar ul li a svg {
  margin-right: 8px;
}
.curriculum-section td .fa {display: inline;}
.c-faculty-img {
  height: 204px;
  width: 204px;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  position: relative;
}
.c-faculty-img > img{
 width: 100%;
 height: auto;
 border-radius: 50%;
}
.c-faculty-img .upload-icon{
  position: absolute;
  box-shadow: 5px 5px 12px #ddd;
  border-radius: 50px;
  right: 20px;
  bottom: 12px;
  width: 30px;
  height: 30px;
  top: auto;
  left: auto;
}
.c-gender-select {
  border-bottom: 1px solid #ddd !important;
  height: 1.9rem !important;
  margin-top: 0px;
}
.c-add-btn {
  background-color: #f9f9f9;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #ddd;
  color: #666;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: capitalize;
  height: 45px;
  line-height: 10px;
  min-width: 96px;
}
.c-del-icon {
  width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-left: 16px;
    color: #ddd;
}
.cu-img {
  border-radius: 3px;
  border: 1px solid #ddd;
  height: 118px;
  width: 220px;
  margin-top: 7px;
}
.cu-img img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.emc .fa-calendar {
  position: absolute !important;
  top: 13px !important;
  right: 16px !important;
}
.resec .fa-calendar{
  position: absolute !important;
  top: 13px !important;
  right: 16px !important;
  margin-right: 0px !important;
}
.teach-cont .calender i {
  position: absolute !important;
  top: 13px !important;
  right: 16px !important;
  padding: 0 !important;
}
.price-sec .fa-calendar {
  position: absolute !important;
  top: 13px !important;
  right: 16px !important;
  margin-right: 0px !important;
}
.cm-dob {
  position: relative;
}
.cm-dob label {
  position: absolute;
  left: 0;
  top: -20px !important;

}
.cm-dob .cm-calendar-icon{
  position: absolute !important;
    top: 13px !important;
    right: 16px !important;
}