.banner{
	/* background-image: url(../images/banner-bg.png); */
}

.another-tab li a.active {
    background: none !important;
    color: #ffa83f !important;
    border-bottom: 2px solid #ffa83f !important;
    border-radius: 0;
}
.banner-content h1 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5px;
    color: #383838;
    font-size: 43px;
    line-height: 58px;
}.banner-content{
	margin-top: 80px;
}.banner-content p {
    font-size: 16px;
    margin: 12px 0;
    letter-spacing: .5px;
    line-height: 25px;
    color: #000000;
}.button-wrapper {
    width: fit-content;
    margin-top: 48px;
}button.all-courses {
    background: #fff;
    border: 1px solid #fff;
    color: #ff9d29;
    width: 190px;
    height: 58px;
    -webkit-box-shadow: 0 0px 46px #dedede;
    -moz-box-shadow: 0 0px 46px #dedede;
    box-shadow: 0 0px 46px #dedede;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .5px;
    -o-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
    padding: 0;
}button.all-courses:hover{
	background: #ff8a00;
    border: 1px solid #ff8a00;
	color: #fff;
}
#play-video {
    position: relative;
    left: 56px;
}small.work {
    position: absolute;
    right: -112px;
    top: 16px;
    color: #f78806;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
}.video-play-button {
    position: absolute;
    z-index: 10;
    top: 77%;
    left: 43%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 18px;
    height: 19px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
}.video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 54px;
    height: 54px;
    background: #ff8a0061;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}.video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 54px;
    height: 54px;
    background: #ff9d29;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -o-transition: all 200ms;
    -moz-transition: all 200ms;
    -webkit-transition: all 200ms;
    transition: all 200ms;
    box-shadow: 0 0 48px #d8d8d8;
}.video-play-button:hover:after {
  background-color: darken(#fa183d, 10%);
}.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}.video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 16px solid #fff;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}



.video-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.80);
  opacity: 0;
  -moz-transition: all ease 500ms;
-o-transition: all ease 500ms;
-ms-transition: all ease 500ms;
-webkit-transition: all ease 500ms;
  transition: all ease 500ms;
}.video-overlay.open {
  position: fixed;
  z-index: 1000;
  opacity: 1;
}.video-overlay-close {
  position: absolute;
  z-index: 1000;
  top: 15px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  -moz-transition: all 200ms;
-o-transition: all 200ms;
-ms-transition: all 200ms;
-webkit-transition: all 200ms;
  transition: all 200ms;
}.video-overlay-close:hover {
  color: #fa183d;
}.video-overlay iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.75);
     -moz-box-shadow: 0 0 15px rgba(0,0,0,0.75);
  box-shadow: 0 0 15px rgba(0,0,0,0.75);
}
.owl-slider .item{
		 -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
      -ms-border-radius: 8px;
	border-radius: 8px;
	overflow: hidden;
	height: 340px;
}.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1;
    margin-top: 60px;
    position: relative;
    top: -54px;
}

.strip-slider .owl-carousel {
    position: relative;
    top: 22px;
    width: 97.5%;
}
.banner .owl-carousel {
    position: relative;
    top: 0px;
}
.owl-slider .owl-slider .owl-nav{
	display: none !important;
}.owl-slider .owl-stage-outer {
    -webkit-box-shadow: 0 0 34px #a0a0a0;
    -moz-box-shadow: 0 0 34px #a0a0a0;
    box-shadow: 0 0 14px #b5b5b5;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    height: fit-content !important;
}.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  -moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
  left: 0;
}
.owl-nav button.owl-next {
  right: 0;
}.owl-dots {
  text-align: center;
  padding-top: 15px;
}
.owl-dots button.owl-dot {
    width: 12px;
    height: 12px;
		 -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
      -ms-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
    border: 1px solid #ff8a00 !important;
}
.owl-dots button.owl-dot.active {
    background-color: #ff8a00;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}
.owl-nav button {
    position: absolute;
    top: 50%;
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: transparent !important;
}.owl-nav button:focus {
    outline: none;
}

.topic1 {
    border-right: 1px dashed #ddd;
    padding: 10px;
}.no-bor{
	border-right: none !important;
}.achieve-inner {
    width: 100%;
    height: fit-content;
    background-color: #fff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow: 0 0 6px #ddd;
    -moz-box-shadow: 0 0 6px #ddd;
    box-shadow: 0 0 34px #ddd;
    padding: 12px 42px;
    margin-bottom: 40px;
    margin-top: 24px;
}.achieve-inner h3 {
    font-size: 22px;
    letter-spacing: .5px;
    font-weight: 600;
    color: #000;
}.achieve-inner p {
    font-size: 15px;
    letter-spacing: .3px;
    color: #424242;
    font-weight: 500;
    margin: 4px 0 0 0;
}.achieve-inner img{
	float: left;
    margin-right: 16px;
}




.teach-stu{
	padding: 40px 0;
	background-color: #fff;
}.teach-stu h3 {
    color: #000;
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: .5px;
    text-shadow: 0 3px 10px #ececec;
}.teach-stu h5 {
    color: #ff9d29;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3px;
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: 600;
}.teach-stu-box {
    position: relative;
    border-radius: 6px;
    box-shadow: 0 0 22px #d4d4d4;
    overflow: hidden;
}.teach-stu-box .overlay-stu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.7);
	display: none;
}.teach-stu-box .overlay-teach {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.7);
}.teach-stu-box img {
    width: 100%;
}.selected{
	position: absolute;
    top: 50%;
    left: 50%;
	width: 100%;
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 999;
}.selected h3 {
    color: #fff;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 48px;
    text-shadow: none;
}.selected h3 {
    text-align: center;
}

.checkmark {
    width: 86px;
    height: 86px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    display: block;
    stroke-width: 4;
    stroke: #fff;
    stroke-miterlimit: 10;
    -webkit-box-shadow: inset 0px 0px 0px #fb971f;
    -moz-box-shadow: inset 0px 0px 0px #ff8a00;
    box-shadow: inset 0px 0px 0px #fb971f;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    margin: auto;
    margin-bottom: 12px;
}.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: .5px;
    stroke-miterlimit: 44;
    stroke: #ffffff;
    fill: #ff9d29;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}.checkmark__check {
	moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
	    -webkit-box-shadow: inset 0px 0px 0px 30px #ff8a00;
     -moz-box-shadow: inset 0px 0px 0px 30px #ff8a00;
    box-shadow: inset 0px 0px 0px 30px #ff8a00;
  }
}



.ourcourses {
    padding: 62px 0 42px 0;
    background-color: #fff;
}.ourcourses-head li {
    float: none;
		 -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
      -ms-border-radius: 2px;
    border-radius: 2px;
    width: fit-content;
    padding: 4px 16px 4px 16px;
    margin: 8px 0;
	font-size: 13px;
	cursor: pointer;
}.ourcourses-head li a {
    border: 1px solid #ccc;
    color: #666;
    padding: 0px 15px;
    display: block;
    border-radius: 4px;
}.ourcourses-head li a.active {
    border: 1px solid #ffa83f;
    color: #fff;
    background: #ffa83f;
}.ourcourses-head h3{
	text-align: center;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: .5px;
}

.ourcourses-cont li {
    display: inline-block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    width: fit-content;
    margin: 0px 14px 0 0;
    font-size: 13px;
    cursor: pointer;
}.ourcourses-cont li a {
    padding: 0px 8px 0px 8px;
    text-decoration: none;
    color: #999;
    display: block;
    border: 1px solid #ddd;
    border-radius: 4px;
}.ourcourses-cont li a.active {
    background: #ffa83f;
    border: 1px solid #ffa83f;
    color: #fff;
}.inner-tab li {
    display: inline-block;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    margin: 2px 36px 0 0;
}.inner-tab li.active {
    border-bottom: 2px solid #ffa83f;
}.inner-tab li a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 0px 2px;
    border: none !important;
    font-size: 14px;
    font-weight: 500;
}.inner-tab li.active a {
    color: #fb971f;
	background: none;
}

.carousel-wrap {
  margin: 90px auto;
  padding: 0 5%;
  width: 80%;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100; 
  -webkit-backface-visibility: hidden; 
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}.owl-nav i {
    font-size: 30px;
    line-height: 28px;
    text-align: center;
    padding: 0 0 0 3px;
}.owl-nav .owl-prev {
  left: -30px;
}.owl-nav .owl-next {
  right: -30px;
}


.carousel-wrap2 .owl-nav {
    position: absolute;
    right: 19px;
    bottom: -13px;
}.carousel-wrap2 .owl-dots{
	display: none !important;
}.carousel-wrap2 button.owl-next {
    position: relative;
    right: -18px;
    bottom: -17px;
    border: 1px solid #000 !important;
		 -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
      -ms-border-radius: 50px;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    text-align: center;
}.carousel-wrap2 button.owl-prev {
    position: relative;
    right: -10px;
    bottom: -17px;
    border: 1px solid #000 !important;
		 -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
      -ms-border-radius: 50px;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    text-align: center;
}.course-card {
    background-color: #fff;
    -webkit-box-shadow: 0 0 6px #ddd;
    -moz-box-shadow: 0 0 6px #ddd;
    box-shadow: 0 2px 18px #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    margin: 10px 0;
    position: relative;
	transition: .5s;
}
.ourcourses-cont .course-card {
    margin: 10px 3px !important;
    width: 94%;
}
.course-card-body {
    padding: 12px 12px 24px 14px;
}.course-card-body h4 {
    font-size: 18px;
    letter-spacing: .5px;
    color: #000;
    font-weight: 600;
    margin: -8px 0 10px 0;
}.course-card-body p {
    font-size: 11px;
    color: #666;
    font-weight: 400;
    margin: 5px 0 0 0;
    line-height: 19px;
}button.inr{
	background-color: #ff8a00;
    border: 1px solid #ff8a00;
    color: #fff;
    letter-spacing: 1px;
    width: 100%;
    height: 40px;
		 -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
      -ms-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
	-o-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
    transition: .3s;
	display: block;
}
button.inr:hover{
	background-color: transparent;
    border: 1px solid #ff8a00;
    color: #ff8a00;
}.course-card-body .fa-star, .fa-user{
	color: #ff8a00;
}.card-img{
	position: relative;
}.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
}.card-overlay p{
	text-align: center;
}button.detailbtn {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    letter-spacing: .5px;
    padding: 1px 4px;
    font-size: 10px;
    margin-top: 25px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}.datepicker .ui-datepicker-calendar tr th, .datepicker .ui-datepicker-calendar tr td {
    padding-bottom: 17px !important;
    font-size: 16px;
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;
}.strip {
    width: 116px;
    height: 22px;
    position: relative;
    background: rgba(239, 137, 17, 0.88);
    border-bottom-right-radius: 50px;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    padding: 2px 10px 0px 0px;
    font-size: 11px;
    font-weight: 200;
}.carousel-wrap2{
	margin-top: 20px;
}

button.basicbtn {
    background-color: #fff;
    border: 1px solid #ff8a00;
    color: #000;
		 -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
      -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 4px 18px;
    position: relative;
    top: -24px;
    letter-spacing: .5px;
}

ul.innerul {
    margin-left: -16px;
    margin-top: 20px;
}.ourcourses-head:before {
    content: '';
    position: absolute;
    top: -65px;
    left: -18%;
    /* background-image: url(../images/scketch.png); */
    background-repeat: no-repeat;
    background-size: contain;
    height: 518px;
    width: 140%;
}.event {
    padding: 12px 0 48px 0;
    background-color: #fff;
}.event h5 {
    color: #f9951e;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3px;
    font-size: 21px;
    margin-bottom: 12px;
    font-weight: 600;
}.event h3 {
    color: #0e0e0e;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: .5px;
}.event-cont{
	margin-top: 42px;
}.footer-evt {
    position: absolute;
    bottom: 12px;
    border-top: 2px solid #ddd;
    width: 84%;
    padding: 15px 14px 10px 14px;
}.footer-evt p{
	text-align: right;
}.event-card {
    background: #fff;
    width: 100%;
	  -webkit-box-shadow: 0 2px 32px #e2e2e2;
     -moz-box-shadow: 0 2px 32px #e2e2e2;
    box-shadow: 0 2px 32px #e2e2e2;
		 -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
      -ms-border-radius: 4px;
    border-radius: 4px;
    padding: 26px;
	-o-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
    transition: .3s;
}.active-event {
    position: relative;
    padding: 40px 24px !important;
    -webkit-box-shadow: 0 0 50px #ddd !important;
    -moz-box-shadow: 0 0 50px #ddd !important;
    box-shadow: 0 0 50px #ddd !important;
    width: 108%;
    margin-left: -4%;
}.event-card h4{
	font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 4px;
}.event-card p{
	font-size: 13px;
    letter-spacing: .3px;
    color: #333;
    padding: 4px 0;
}

p.dt {
    width: 100%;
    text-align: center;
    margin-top: -20px;
}

p.dt b{
	font-size: 40px;
    color: #333;
}

p.dt small{
	font-size: 15px;
    background: #eee;
    padding: 0px 8px;
		 -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
      -ms-border-radius: 2px;
    border-radius: 2px;
    position: relative;
    top: 9px;
}

button.allevents {
	border: 1px solid #ff8a00;
    background: transparent;
    color: #ff8a00;
    width: 112px;
    height: 39px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    -o-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .5px;
}

button.allevents:hover{
    border: 1px solid #ff8a00;
    background: #ff8a00;
    color: #fff;
}.datepicker {
    width: 88%;
    float: right;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 32px #e2e2e2;
    -moz-box-shadow: 0 2px 32px #e2e2e2;
    box-shadow: 0 2px 32px #e2e2e2;
    overflow: hidden;
    padding-bottom: 132px;
}.datepicker .datepicker-header {
  height: 250px;
  background-image: url("https://images.unsplash.com/photo-1441205337478-70cb1521e35a?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
  background-size: 100%;
}
.datepicker .ui-datepicker-inline {
  padding: 0px;
}
.datepicker .ui-datepicker-header {
  text-align: center;
  font-size: 1.4em;
  padding-bottom: .5em;
  letter-spacing: .1em;
  color: #333;
}
.datepicker .ui-datepicker-header .ui-datepicker-prev,
.datepicker .ui-datepicker-header .ui-datepicker-next {
  float: left;
  cursor: pointer;
  font-size: 1.4em;
  padding: 0 5px;
  margin-top: -8px;
  color: #ddd;
  -o-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
    transition: .3s;
}
.datepicker .ui-datepicker-header .ui-datepicker-next {
  float: right;
}
.datepicker .ui-datepicker-header .ui-datepicker-prev:hover {
	-moz-transform: translateX(-6px);
-o-transform: translateX(-6px);
-ms-transform: translateX(-6px);
-webkit-transform: translateX(-6px);
  transform: translateX(-6px)
}
.datepicker .ui-datepicker-header .ui-datepicker-next:hover {
  	-moz-transform: translateX(6px);
-o-transform: translateX(6px);
-ms-transform: translateX(6px);
-webkit-transform: translateX(6px);
  transform: translateX(6px);
}
.datepicker .ui-datepicker-calendar {
  width: 100%;
  text-align: center;
}
.datepicker .ui-datepicker-calendar thead {
    color: #727679;
    font-size: 19px;
    padding: 0 !important;
    margin: 0;
}
.datepicker .ui-datepicker-calendar tr th,
.datepicker .ui-datepicker-calendar tr td {
  padding-bottom: .4em;
}
.datepicker .ui-datepicker-calendar a {
  color: #333;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  line-height: 30px;
  	 -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
      -ms-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
}
.datepicker .ui-datepicker-calendar a:hover {
  background: #ff8a00;
  color: #fff;
  -o-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
    transition: .3s;
	-moz-transform: scale(1);
-o-transform: scale(1);
-ms-transform: scale(1);
-webkit-transform: scale(1);
  transform: scale(1);
}
.datepicker .ui-datepicker-calendar .ui-state-highlight {
    background: #ff8a00;
    color: #fff;
}
.datepicker .ui-datepicker-calendar .ui-state-highlight:hover {
  color: #fff;
}





.uniqueness {
    padding: 48px 0 120px 0;
}.unique-box {
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0 0 32px #ddd;
    -moz-box-shadow: 0 0 32px #ddd;
    box-shadow: 0 0 32px #ddd;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    margin-top: 38px;
    padding: 27px 14px;
}.unique-box p {
    text-align: center;
    letter-spacing: .3px;
    font-size: 13px;
    color: #333;
}.unique-box p img{
	width: 50px;
}.unique-box h4 {
    text-align: center;
    font-size: 16px;
    letter-spacing: .5px;
    color: #000;
    margin: 12px 0 4px 0;
    font-weight: 600;
}.uniqueness h5 {
    color: #f9951e;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3px;
    font-size: 21px;
    margin-bottom: 12px;
    font-weight: 600;
}.uniqueness h3 {
    color: #0e0e0e;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: .5px;
}.uniqe-img {
    position: relative;
    right: 120px;
}

ul.ub li {
    width: 44%;
    display: inline-block;
    margin-left: 5%;
}.uniqueness p{
	text-align: center;
}button.become-part {
	position: relative;
    top: -90px;
    border: 1px solid #ff8a00;
    background: transparent;
    color: #fe9923;
    width: 200px;
    height: 48px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    -o-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
    font-weight: 500;
    letter-spacing: .5px;
    box-shadow: 0 0px 24px #c3c3c3;
    font-size: 16px;
}button.become-part:hover {
    border: 1px solid #ff8a00;
    background: #ff8a00;
    color: #fff;
}.guid {
    padding: 36px 210px 6px 40px;
    background: #fff;
    -webkit-box-shadow: 0 0 6px #ddd;
    -moz-box-shadow: 0 0 6px #ddd;
    box-shadow: 0 0 28px #ddd;
    max-width: 760px;
    margin-top: 62px;
    position: relative;
}.guid h5, .guid h3{
	text-align: left;
}.guid li {
    margin: 42px 0;
}.guid h6{
	font-size: 21px;
    font-weight: 600;
    letter-spacing: .5px;
    margin-bottom: 5px;
}.guid span{
	font-size: 13px;
    color: #333;
    letter-spacing: .3px;
}.video-part{
	position: absolute;
    bottom: -46px;
    right: -408px;
}



.hero-body{
	margin-top: 60px;
}.testimonial {
    /* background-image: url(../images/testimonial-bg.png); */
    padding: 112px 0 48px 0;
    position: relative;
}.testimonial:before {
    content: '';
    position: absolute;
    top: 46px;
    left: 104px;
    /* background-image: url(../images/icons/testimonial-icon.png); */
    width: 88px;
    height: 116px;
    background-size: contain;
}.testimonial h5{
	color: #ff9d29;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: 19px;
    margin-bottom: 12px;
    font-weight: 500;
}.testimonial h3{
	color: #000;
    text-align: left;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: .5px;
}

	.avatar {
		margin: auto;
			 -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
      -ms-border-radius: 50%;
		border-radius: 50%;
		max-width: 96px;
	}

	#customers-testimonials .box {
		opacity: 0;
		transform: scale3d(0.8, 0.8, 1);
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
	}

	#customers-testimonials .owl-item.active.center .box {
		opacity: 1;
		transform: scale3d(1.0, 1.0, 1);
		-webkit-transform: scale3d(1.0, 1.0, 1);
	}



.owl-item::nth-child(2){
	-moz-transform: scale(1.5) !important;
	-o-transform: scale(1.5) !important;
	-ms-transform: scale(1.5) !important;
	-webkit-transform: scale(1.5) !important;
	transform: scale(1.5) !important;
}


/* .owl-item.cloned.active{ */
	/* transform: scale(1.5); */
/* } */

.card-head {
    background: #fff;
		 -webkit-border-radius: 6px 6px 0px 0px;
     -moz-border-radius: 6px 6px 0px 0px;
      -ms-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
    padding: 36px 20px 22px 20px;
}.card-head img {
    float: left;
    margin-right: 12px;
    margin-top: -7px;
}.card-head h4 {
    font-size: 21px;
    letter-spacing: .5px;
    color: #000;
    font-weight: 700;
}.card-head p {
    color: #ff8a00;
    font-size: 16px;
    letter-spacing: .5px;
    margin: 5px 0 4px 0;
}
.owl-item.active.center .card-head p {
    color: #ff8a00;
    font-size: 13px;
    letter-spacing: .5px;
    margin: 5px 0 4px 28px;
    text-align: left;
    position: relative;
    left: 21px;
}
.owl-item.active.center .card-head h5 {
    font-size: 14px;
    color: #666;
    position: relative;
    left: 21px;
    text-transform: capitalize;
}
.card-head h5{
	font-size: 15px;
    color: #666;
}.card-head h5 span{
	color: #ff8a00
}.owl-item.active .box{
	opacity: 1 !important;
}.level-item{
	border: 2px solid #ff8a00;
		 -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
      -ms-border-radius: 6px;
	border-radius: 6px;
}


.level-item .content {
    background: #ff8a00;
    padding: 6px 12px;
}.level-item .content p {
    color: #fff;
    font-size: 13.5px;
    font-weight: 100;
    letter-spacing: .5px;
    line-height: 25px;
    font-style: italic;
    text-align: left;
    padding: 7px 10px 10px 10px;
}
.reach {
    padding: 18px 0 40px 0;
    background: #fff;
}.ourreach h3 {
    color: #ff9d29;
    text-transform: uppercase;
    font-size: 34px;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
}
img.mt-86{
	margin-top: 86px;
}.reach-box {
	background: #fff;
	  -webkit-box-shadow: 0 14px 22px #ddd;
     -moz-box-shadow: 0 14px 22px #ddd;
    box-shadow: 0 14px 22px #ddd;
		 -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
      -ms-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
}.reach-box li {
    display: inline-block;
    text-align: center;
    width: 49%;
    background: #ffd099;
}
.reach-box li.active{
	background: #ff8a00;
}.reach-box p img {
    float: left;
    margin-right: 18px;
    margin-top: 3px;
    margin-bottom: 22px;
}.reach-box p{
	padding: 14px 8px;
    border-bottom: 1px solid #ddd;
}.reach-box p big {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #000;
    margin: 0;
    padding: 0;
    display: block;
}.reach-box p span{
	position: relative;
    top: -5px;
    font-size: 13px;
    letter-spacing: .5px;
    color: #333;
}.reach-box ul{
	margin-top: 12px;
}.reach-box li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 8px 0;
}



.strip-slider {
    background: #ff8a00;
    padding: 0px 0 42px 0;
    box-shadow: 0 0 36px #c5c5c5;
}
.strip-slider .owl-dots{
	display: none;
}
.strip-slider .owl-carousel .item {
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
    border-right: 1px dashed #ddd;
    left: 2px;
}
.owl-item.active .owl-carousel .item:last-child{
	border-right: none;
}
.livepol h4 {
    font-size: 21px;
    font-weight: 700;
    color: #292929;
}.strip-slider .owl-nav {
    position: absolute;
    right: -38px;
    top: 36px;
    font-size: 60px;
}.strip-slider .owl-next{
	position: relative;
    left: -13px !important;
    top: -23px;
    background: #fff !important;
    width: 29px;
    height: 29px;
    line-height: .5 !important;
		 -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
      -ms-border-radius: 50px;
    border-radius: 50px;
}.strip-slider .owl-next span {
    position: relative;
    top: -9.6px;
    left: 1px;
    font-size: 40px;
    font-weight: 100;
    color: #666;
}.strip-slider .owl-prev {
    position: relative;
    left: -46px !important;
    top: -23px;
    background: #fff !important;
    width: 29px;
    height: 29px;
    line-height: .5 !important;
		 -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
      -ms-border-radius: 50px;
    border-radius: 50px;
}.strip-slider .owl-prev span {
    position: relative;
    top: -9.7px;
    left: -1px;
    font-size: 40px;
    font-weight: 100;
    color: #666;
}
.strip-slider .owl-prev span:hover {
    color: #ff8a00;
}

.strip-slider .owl-prev span:hover {
    color: #ff8a00;
}

.livepol h5 {
    font-size: 15px;
    font-weight: 400;
    color: #000;
    margin: 6px 0;
}.livepol p{
	font-size: 14px;
	font-weight: 400;
	color: #fff;
}


.blog-sec{
	padding: 48px 0;
}.blog-sec h3 {
    color: #000;
    text-align: left;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: .5px;
    margin-bottom: 12px;
}.blog-sec .owl-nav {
    position: absolute;
    right: 43%;
    bottom: -110px;
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 60px;
}.blog-sec button.owl-prev{
	border: 1px solid #666 !important;
    line-height: 26px !important;
}.blog-sec button.owl-next {
    border: 1px solid #ff8a00 !important;
    line-height: 26px !important;
    color: #ff8a00 !important;
}.blog-sec .owl-next{
	position: relative;
    left: -13px !important;
    top: -23px;
    background: #fff !important;
    width: 29px;
    height: 29px;
    line-height: .5 !important;
		 -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
      -ms-border-radius: 50px;
    border-radius: 50px;
}.blog-sec .owl-next span {
    position: relative;
    top: -8px;
    font-size: 44px;
    font-weight: 100;
}.blog-sec .owl-prev {
    position: relative;
    left: -32px !important;
    top: -23px;
    background: #fff !important;
    width: 29px;
    height: 29px;
    line-height: .5 !important;
		 -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
      -ms-border-radius: 50px;
    border-radius: 50px;
}.blog-sec .owl-prev span {
    position: relative;
    top: -10px;
    font-size: 41px;
    font-weight: 100;
}.blog-sec .owl-dots{
	display: none !important;
}.blog-card {
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
    -webkit-box-shadow: 0 1px 25px #ddd;
    -moz-box-shadow: 0 1px 25px #ddd;
    box-shadow: 0 1px 25px #ddd;
    margin: 12px 12px;
    min-height: 250px;
}.blog-card img{
	width: 100%;
}.blog-card h4 {
    padding: 16px 15px 12px 15px;
    font-size: 18px;
    letter-spacing: .5px;
    line-height: 26px;
    color: #000;
    font-weight: 600;
}.for-cat .logo-part {
    margin-top: 5px;
    width: 436px;
}.for-cat .logo-part p{
	float: left;
}.fa-square{
	    border-radius: 0;
    font-size: 10px;
}.cat-div span {
    position: relative;
    cursor: pointer;
    top: 3px;
    left: 26px;
	color: #666;
}.cat-div span:hover {
	color: #f78c11;
}span.cat-text{
	margin-left: 0;
    top: 4px;
    letter-spacing: .5px;
    color: #616161;
	cursor: pointer;
}span.cat-search {
    top: 4px;
    font-size: 16px;
    color: #666;
    border-left: 1px solid #ddd;
    padding: 6px 0 6px 15px;
    margin-left: 12px;
}.mega-drop {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 8px #ddd;
    padding: 20px;
    width: 570px;
    height: 244px;
    position: absolute;
    top: 78px;
    left: 325px;
	display: none;
}.mega-drop ul{
	float: left;
}.mega-drop li{
	float: none;
}.mega-drop a {
    color: #333;
    transition: .3s;
    text-decoration: none;
    padding: 6px 0;
    display: block;
}.mega-drop a:hover{
	color: #fe9d28;
}.mega-drop ul li ul {
    width: 172px;
    border-right: 1px solid #ddd;
    position: relative;
    left: 180px;
    top: -63px;
}.mega-drop ul li ul li ul {
    width: 170px;
    position: relative;
    left: 202px;
    top: -98px;
    border-right: none;
}.mega-drop:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid white;
    position: absolute;
    top: -13px;
    left: 27px;
}.width-45{
	width: 45%;
}.width-54{
	width: 54%;
}.name h4{
	font-size: 17px;
}.name p{
	color: #999;
}


.cat-box1 .card-img {
    width: 104px;
    height: auto;
    float: left;
    margin: 7px 7px 0 7px;
}
.cat-box1 .card-img img{
    width: 100%;
}

.cat-box1 .basicbtn{
	display: none;
}

.cat-box1 .card-overlay .strip{
	display: none;
}
.cat-box1 .course-card-body h4 {
    font-size: 13px;
    margin-bottom: 0;
    margin-top: -5px;
}.cat-box1 button.bkt-btn {
    background-color: transparent;
    border-radius: 50px;
    padding: 2px 5px;
    font-size: 12px;
    border: 1px solid #ddd;
    margin-top: 14px;
}.cat-box1 .categories .course-card{
	transition: .6s;
	position: relative;
	z-index: 1;
}.categories .course-card:hover {
    transform: scale(1.2);
    z-index: 99999 !important;
}
.categories .course-card:hover.categories .course-card{
	transform: scale(1.4);
}

.button-group{
	display: none;
}

.cat-box1 .button-group{
	display: block;
}

.initial-detail{
	display: block;
}
.cat-box1 .initial-detail{
	display: none;
}

.rm{
	display: inline-block;
}

.cat-box1 .rm{
	display: none;
}

.cat-box1 button.bkt-btn {
    background-color: transparent;
    border-radius: 50px;
    padding: 2px 7px;
    font-size: 9px;
    border: 1px solid #ddd;
    margin-top: 14px;
    margin: 12px 5px 0px 5px;
}button.inr{
	display: block;
}.cat-box1 button.inr{
	display: none;
}.cat-box1 .temp22{
	display: initial;
}.temp22 h3{
	font-size: 22px;
    font-weight: 600;
}.cat-box1 .temp22 p{
	font-size: 9px;
}.hoverd{
	display: none;
}.cat-box1 .hoverd {
    display: flex;
    margin-top: 12px;
}button.buy-add-btn {
    background: #ff8a00;
    border: 1px solid #ff8a00;
    font-size: 12px;
    color: #fff;
    padding: 6px 6px;
    border-radius: 2px;
    width: 100%;
}.description2{
	display: none;
}.cat-box1 .description2{
	display: block;
}.dd-box h6{
	color: #999;
	font-size: 13px;
	font-weight: 500;
}.dd-box h5{
	color: #000;
	font-size: 15px;
	font-weight: 400;
	margin-top: 3px;
	letter-spacing: .3px;
}.dd-box{
	border-right: 1px solid #ddd;
	padding-right: 7px;
}.dd-box:last-child{
	border-right: none;
}

.dd-box2 h3{
    color: #000;
	font-weight: 600;
}

.dd-box2 h3 small{
	text-decoration: line-through;
    margin-left: 12px;
    color: #ccc;
	font-size: 16px;
}

.cd-description h1{
	font-size: 32px;
    font-weight: 600;
    letter-spacing: .5px;
    margin: 0;
}

.dd-box2 p{
	color: #a90c17;font-weight: 500;
}
.dd-box2 button.addtocart2 {
    background: #18ca2e;
    color: #fff;
    border: 1px solid #18ca2e;
    font-size: 18px;
    padding: 6px 24px;
    border-radius: 4px;
    letter-spacing: .5px;
    font-weight: 500;
}.dd-box2 button.buynow2 {
    background: transparent;
    color: #7d7d7d;
    border: 1px solid #ccc;
    font-size: 18px;
    padding: 6px 34px;
    border-radius: 4px;
    letter-spacing: .5px;
    font-weight: 500;
}.dd-box2 button.sharebtn2{
	border: none;
    background: transparent;
}.dd-box2 button.sharebtn2 i{
	font-size: 17px;
}
.categories-detail{
	padding: 24px 0;
}

.open{
	display: block;
}

.cd-description .dd-box h5 {
    color: #000;
    font-size: 14px;
    font-weight: 500;
}
.fm-head{
	font-size: 17px;
    font-weight: 400;
}
.faculty-member-box img{
	float: left;
	margin-right: 6px;
}

.faculty-member-box h5{
	font-size: 15px;
}

.faculty-member-box {
    width: 100%;
    display: flow-root;
    padding: 0;
    margin: 0;
    margin-top: 23px;
}
.bl{
	border-left: 1px solid #ddd;
}

.detail-sec2 .bottom-border::before {
    display: block;
    position: absolute;
    bottom: -9px;
    height: 3px;
    background: #ff9d29;
    width: 28px;
    left: 50%;
    transform: translateX(-50%);
    content: ' ';
}

.detail-sec2 .tab-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    list-style: none;
    margin: 0;
    position: relative;
    padding: 10px 38px 10px 26px;
}
.detail-sec2 .tab-nav a {
    color: #4a4a4a;
    text-decoration: none;
    width: 100%;
    font-size: 15px;
    letter-spacing: .5px;
    font-weight: 600;
}

p.description_p{
	font-size: 14px;
    color: #000;
    letter-spacing: .5px;
    line-height: 24px;
}

h3.related-course{
	font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .5px;
    margin-top: 29px;
}

p.ans {
    padding-left: 24px;
    font-weight: 100;
    font-size: 13px;
    margin-bottom: 19px;
}
.curr .item h4 {
    font-size: 13.5px;
    color: #999;
    letter-spacing: .5px;
}
.detail-sec2 button.owl-prev span {
    font-size: 45px;
    position: relative;
    left: -19px;
    top: -4px;
    font-weight: 100;
	color: #999;
}
.detail-sec2 button.owl-next span {
    font-size: 45px;
    position: relative;
    right: -5px;
    top: -3px;
	font-weight: 100;
	color: #999;
}

.description-part h4{
    font-size: 17px;
    font-weight: 600;
    color: #000;
    letter-spacing: .5px;
}

.description-part p{
	font-size: 14px;
    letter-spacing: .3px;
    line-height: 25px;
    color: #444;
    margin-top: 11px;
}

.description-part{
	position: relative;
}

.description-part a.status{
	position: absolute;
    top: 0;
    right: 32px;
    letter-spacing: .1px;
    color: #ff6769;
    font-weight: 500;
}

.curr .owl-dots{
	display: none;
}
.curr .owl-carousel {
    margin-top: 88px;
}


.slider-color {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}.resource-card {
    background: #fff;
    box-shadow: 0 0 10px #ddd;
    margin-top: 18px;
    padding: 17px 20px;
    border-radius: 6px;
}.resource-card h4{
	font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    margin-bottom: 16px;
}

.resource-card .fa-music{
	font-size: 21px;
    vertical-align: bottom;
    color: #333;
}

.fade:not(.show) {
    opacity: 1;
}
.mt-42{
	margin-top: 42px;
}

.ourcourses-cont .nav-tabs {
    border-bottom: none;
}

.another-tab .owl-nav{
	position: absolute;
    right: 16px;
    bottom: 22px;
}

.another-tab button.owl-next{
	border: 1px solid #ff9d29 !important;
    width: 30px;
    height: 30px;
    border-radius: 50px;
	margin-top: 50px;
}

.another-tab .owl-next span {
    position: relative;
    right: -5px;
    font-size: 36px;
    font-weight: 100;
    line-height: 23px;
    text-align: center;
    margin-right: 8px;
	color: #ff9d29;
}
.another-tab .owl-prev span {
    position: relative;
    right: 0px;
    font-size: 36px;
    font-weight: 100;
    line-height: 23px;
}

.another-tab button.owl-prev{
	border: 1px solid #333 !important;
    width: 30px;
    height: 30px;
    border-radius: 50px;
	margin-left: -78px;
	margin-top: 50px;
}

.another-tab .owl-dots{
	display: none;
}

.banner .owl-nav{
	display: none;
}
.event-card i {
    color: #ff9d29;
    font-size: 18px;
    margin-right: 5px;
}

.seq{
    width: 32px;
    height: 32px;
    border: 1px solid #ff9d293d;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    float: left;
    margin-right: 19px;
    margin-bottom: 62px;
    font-size: 17px;
    color: #666;
}

.level-item .content{
	display: none;
}

.owl-item.active.center .level-item .content {
    display: block;
    position: relative;
    z-index: -1;
}
.level-item {
    border: none;
}

.owl-item.active.center .level-item {
    border: 2px solid #fe8c07;
}

.card-head {
    background: #fff;
    -webkit-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    -ms-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 6px 6px;
    padding: 36px 20px 22px 20px;
    box-shadow: 0 0 42px #ded1c2;
    margin-top: 123px;
}

.owl-item.active.center .card-head {
    margin-top: 0px;
}

.time-box p {
    background: #ff9d28;
    text-align: center;
    color: #fff !important;
    font-size: 40px !important;
    font-weight: 600 !important;
    padding: 0px 10px;
    border-radius: 6px;
}
.time-box h6 {
    text-align: center;
    font-weight: 400;
    color: #666;
    font-size: 12.5px;
    margin-top: 6px;
}

.time-box h5 a{
	color: #000;
	text-decoration: none;
	transition: .3s;
}

.time-box h5 a:hover{
	color: #ff9d28;
}

.time-box h4 {
    text-align: center;
    font-weight: 400;
    color: #353535;
    font-size: 14px;
    margin-top: 6px;
    border: none;
}

.golive p i{
	margin-bottom: 14px;
    float: left;
    color: #666;
    margin-right: 8px;
    font-size: 18px;
}
.anything {
    border: 1px solid #ccc;
    box-shadow: none;
	height: 500px;
    overflow-y: auto;
}
.anything {
    box-shadow: none !important;
    border-radius: 0 !important;
    padding: 26px 42px !important;
}

.anything::-webkit-scrollbar {
  width: 24px;
}
 
.anything::-webkit-scrollbar-track {
  width: 40px;
  border-left: 1px solid #ccc;
  padding: 0 4px;
  box-shadow: 0 0 14px #ddd;
}
 
.anything::-webkit-scrollbar-thumb {
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 50px;
  margin: 4px;
}

.no-pad{
	padding: 0 !important;
}

.anything .faculty-detail {
    box-shadow: none;
    background: #fff;
    border-radius: 4px;
    margin-top: 0;
    padding: 24px 12px;
    position: relative;
    outline: none;
}

.anything .faculty-img img{
	width: 102px;
}

.anything .faculty-img{
	width: fit-content;
    margin: auto;
}

.imp-dates .table thead th {
    vertical-align: bottom;
    border-bottom: none;
    background: #f2f2f2;
    border-top: none;
    padding: 8px 36px;
    font-weight: 300;
    color: #333;
}

.imp-dates .table td, .table th {
    padding: 18px 42px 18px 35px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.imp-dates{
	box-shadow: 0px 5px 16px #efefef;
    border-radius: 0px 0px 7px 7px;
}

.tab-menu{
	border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
	background: #fafafa;
}

.tab-menu ul{
	max-width: 1170px;
    margin: auto !important;
}

/* .item.toadd .course-card.spe{ */
	/* position: relative; */
	/* z-index: -1; */
/* } */

/* .item.toadd2.cat-box1 .course-card.spe{ */
	/* position: relative; */
	/* z-index: 2; */
/* } */

.home-course-carousel .owl-stage-outer.owl-height{
	height: 480px !important;
}

.ui-datepicker-title {
    border-bottom: 2px solid #ddd;
    padding: 19px 0 10px 26px;
    font-size: 26px;
    font-weight: 500;
    text-align: left;
}

.ui-datepicker-prev.ui-corner-all {
    position: absolute;
    right: 57px;
    top: 18px;
    font-size: 32px !important;
    color: #333 !important;
}

.ui-datepicker-prev.ui-corner-all:hover {
    color: #ff8a00 !important;
}

.ui-datepicker-next.ui-corner-all {
    position: absolute;
    right: 20px;
    top: 17px;
    font-size: 32px !important;
    color: #333 !important;
}

.ui-datepicker-next.ui-corner-all:hover {
    color: #ff8a00 !important;
}

table.ui-datepicker-calendar{
    border-collapse: collapse;
    width: 97% !important;
    margin: auto;
}

.ourcourses-cont .tab-content{
	width: 103%;
}

.heading.card-head p a{
	color: #333;
	text-transform: lowercase;
}

.footer-bottom{
	background: #111111;
	padding: 22px 0;
}

.footer-bottom p{
	color: #999;
}

.footer-bottom p a{
	color: #999;
	text-decoration: none;
	transition: .3s;
}
.footer-bottom p a:hover{
	color: #ff8a00;
}

#inline-popups3{
	width: 100%;
}









.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}
.loader-wrapper .loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  border: 3px solid transparent;
  border-top-color: #ff9d29;
  border-radius: 50%;
  z-index: 1001;
  -webkit-animation: spin 1.5s infinite linear;
          animation: spin 1.5s infinite linear;
}
.loader-wrapper .loader:before, .loader-wrapper .loader:after {
  content: '';
  position: absolute;
  border-radius: 50%;
}
.loader-wrapper .loader:before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 3px solid transparent;
  border-top-color:#ff9d29;
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}
.loader-wrapper .loader:after {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px solid transparent;
  border-top-color: #ff9d29;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*Section */
.loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #fff9f9;
  z-index: 1000;
}
.loader-section.section-left {
  left: 0;
}
.loader-section.section-right {
  right: 0;
}

/*Finished Loading Styles*/
.loaded .section-left {
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.loaded .section-right {
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.loaded .loader {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
}
.loaded .loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

.cart-box img {
    float: left;
    margin-right: 14px;
}

.cart-box h4{
	font-size: 24px;
    font-weight: 600;
    letter-spacing: .3px;
	position: relative;
	top: 12px;
}
.cart-box p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .3px;
    color: #8c8c8c;
    margin-top: 14px;
}

.cart-price h5{
	text-align: center;
	color: #000;
	font-weight: 600;
	letter-spacing: .3px;
}
.cart-price p {
    text-align: center;
    color: #000;
    font-weight: 400;
    letter-spacing: .3px;
    margin-top: 17px;
}
.cart-price p a {
    text-decoration: none;
    color: #000;
    margin: 0px 12px;
	transition: .3s;
}
.cart-price p a:hover {
    color: #f88e13;
}

.cart-detail{
	border: 1px solid #ddd;
	border-radius: 9px;
	padding: 9px 0px 9px 9px;
    margin-bottom: 14px;
}

.cart-items h1 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .5px;
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 9px;
    margin-bottom: 22px;
}

.bl{
	border-left: 1px solid #ddd;
}

.cart-total h4{
	color: #6d6d6d;
	font-weight: 300;
	margin-left: 20px;
}

.cart-total h3{
	color: #000;
    font-size: 36px;
    font-weight: 700;
    margin: 12px 0;
	margin-left: 20px;
}

.cart-total p{
	margin-left: 20px;
	font-size: 14px;
	color: #666;
}

.cart-total button{
    background: #f28303;
    border: none;
    color: #fff;
    padding: 6px 58px;
    font-size: 19px;
    letter-spacing: 1px;
    border-radius: 7px;
    margin-top: 65px;
}

.card-container{
	width: 100%;
    background: #f1f1f1;
    height: 500px;
    overflow: hidden;
}

.card-container li {
    margin: 0px 2px 2px 0px;
    width: 18.8%;
}

.card-container-inner{
	width: 175%;
}

.card-container-inner {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

li.ss {
    margin: 2px 0px 0 0;
    width: 308px;
}

.card-slider_list {
    transform: translateX(0px);
    width: 175%;
    transition: transform .5s ease-in-out;
    margin-left: 8px;
}

.card-slider {
    width: 100%;
    overflow: hidden;
}

.card-slider_list li{
	border-bottom: none !important;
}

.course-card-last{
    min-height: 421px;
    background-color: #fd9923;
    /* background-image: url(../images/nextbg.png); */
	position: relative;
}

.course-card-last button {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 206px;
    height: 58px;
    border: none;
    border-radius: 4px;
    background: #fff;
    color: #f28304;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .5px;
    box-shadow: 0 0 72px #d87300;
}

.slider-indi{
	position: absolute;
    bottom: -30px;
    right: 0;
}



.slider-indi button.next{
    background: #fff;
    border: 1px solid;
    color: #ff9b26;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    padding: 0px 0px 0px 3px;
    box-shadow: 0 0px 1px #ddd;
}

.slider-indi button.previous {
    background: #fff;
    border: 1px solid;
    color: #000000;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    padding: 0px 0px 0px 0px;
    box-shadow: 0 0px 1px #ddd;
    margin-right: 12px;
}

.signup-secc {
    /* background-image: url(../images/signup-secces.png) !important; */
}

.success-box {
    width: 100%;
    max-width: 710px;
    height: fit-content;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #f5f5f5;
    box-shadow: 0 1px 36px #e6e6e6;
    border-radius: 7px;
    padding: 72px 62px;
    /* background-image: url(../images/signup-secces.png) !important; */
    background-repeat: no-repeat;
    background-size: contain;
}

.success-box h3{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #292929;
}

.success-box p{
	text-align: center;
}
.success-box p.close-modal{
	color: #fff;
    font-weight: 500;
    line-height: 34px;
}
.success-box p button {
    border: none;
    background: #ff9d29;
    color: #fff;
    font-size: 16px;
    letter-spacing: .5px;
    width: 154px;
    height: 44px;
    border-radius: 50px;
    margin-top: 24px;
    box-shadow: 0 2px 29px #e8e7e7;
}

.success-box p{
	font-weight: 300;
    letter-spacing: .3px;
    color: #777;
    line-height: 25px;
    margin: 12px 0;
}

.identity h4 {
    text-align: center;
    font-size: 17px;
    letter-spacing: .5px;
    color: #333;
    margin-bottom: 30px;
}

.identity p{
	text-align: center;
}



.identity h3{
	margin-bottom: 40px;
}

.modal-body.signup-secc {
    padding: 0;
    height: auto;
    overflow: initial;
    background: none;
}

.iu .modal-content {
    background: #fff;
    max-width: 68%;
    height: 90%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    box-shadow: 0 0 58px #e6e6e6;
}

.iu .modal-dialog {
    position: static !important;
}

.iu .modal-body {
    padding: 40px;
    height: auto;
    overflow: initial;
    background-color: transparent;
    /* background-image: url(../images/signup-secces.png) !important; */
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 12px;
}

.iu h3 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #4e4e4e;
    margin-bottom: 80px;
    margin-top: 62px;
}

.iu p{
	text-align: center;
}

.iu h4 {
    text-align: center;
    font-size: 15.5px;
    letter-spacing: .5px;
    color: #5d5d5d;
    margin-bottom: 30px;
    margin-top: 12px;
}

.iu p img {
    width: 84px;
    border-radius: 50px;
    box-shadow: 0 0 8px #ddd;
    background: #73c3f9;
}

.iu p button {
    border: none;
    background: #ff9d29;
    color: #fff;
    font-size: 16px;
    letter-spacing: .5px;
    width: 168px;
    height: 56px;
    border-radius: 50px;
    margin-top: 70px;
    box-shadow: 0 1px 46px #d8d8d8;
}

.u-select{
	position: absolute;
    top: 68%;
    right: 44%;
    transform: translate(-50%, -50%);
}

.img-container{
	position: relative;
}


.scmm .modal-content{
	background-color: transparent;
}

.scmm .modal-body{
	background-color: transparent;
}

